.dark-blue-bg {
    background-color: #121622;
  }

.normal-blue-bg {
    background-color: #2D3451;
}

.light-blue-bg {
    background-color: #59669E;
}



.dark-orange-bg {
    background-color: #8E341F ;
  }

.normal-orange-bg {
    background-color: #FC5E3A;
}

.light-orange-bg {
    background-color: #EA694C;
}



.dark-blue {
    color: #121622;
  }

.normal-blue {
    color: #2D3451;
}

.light-blue {
    color: #59669E;
}



.dark-orange {
    color: #8E341F;
  }

.normal-orange {
    color: #FC5E3A;
}

.light-orange {
    color: #EA694C;
}


.btn-outline-normal-orange {
    color: #8E341F;
    border-color: #8E341F;
}

.btn-outline-normal-orange {
    color: #FC5E3A;
    border-color: #FC5E3A;
}

.btn-outline-normal-orange {
    color: #EA694C;
    border-color: #EA694C;
}


.btn-outline-normal-orange:hover {
    color: #8E341F;
    border-color: #8E341F;
    background: #8E341F;
}

.btn-outline-normal-orange:hover {
    color: #FC5E3A;
    border-color: #FC5E3A;
    background: #FC5E3A;
}

.btn-outline-normal-orange:hover {
    color: #EA694C;
    border-color: #EA694C;
    background: #EA694C;
}

